<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Questions</key>
	<array>
		<string>第 1 题：当你到达十字路口而看到黄色的闪灯时，你一定要：  </string>
		<string>第 2 题：当你在双线行车路上驾驶，听到紧急信号的车，法律上要求你怎样做？</string>
		<string>第 3 题：当需要车头灯时，在什么情况下开低灯？</string>
		<string>第 4 题：当你驶近“停牌”时，你应：  </string>
		<string>第 5 题：除非有标志指明，不然在城市、市镇、乡村或发展区内最高的驾驶速度应是：</string>
		<string>第 6 题：当亮红灯时，你想驶过十字路口，你一定要：  </string>
		<string>第 7 题：当驶入高速公路时，你应该：  </string>
		<string>第 8 题：在公路，驾驶者不准在其汽车所拖的露营车或拖船上载有： </string>
		<string>第 9 题：在双程路上，你想转左之前，你应在什么位置？</string>
		<string>第 10 题：在十字路口亮绿灯时，以下谁最有优先权？  </string>
		<string>第 11 题：在单程路上你想转左之前，你应在路的什么位置？ </string>
		<string>第 12 题：当电车停下让乘客上落，当时没有安全岛，你想驶过电车时，法律上要你怎样做？ </string>
		<string>第 13 题：在十字路口闪着红灯，表示：</string>
		<string>第 14 题：当红灯可以转右时，在未驶入十字路口前，法律上你应怎么做？ </string>
		<string>第 15 题：当你想转右时，你应驶在路的哪一条线？ </string>
		<string>第 16 题：当到达十字路口，绿灯刚转黄灯，你应怎样做？ </string>
		<string>第 17 题：某人的驾驶执照被吊销后. 他.....</string>
		<string>第 18 题：在安大略省，是有安全带法例</string>
		<string>第 19 题：当两架车在大约同一时间驶到没有标志的十字路口，哪一架车有优先权？  </string>
		<string>第 20 题：在安全的情况下，可从别的车辆右方超越： </string>
		<string>第 21 题：法律上，在什么时候需要把车头灯开着？ </string>
		<string>第 22 题：驾驶者是否要负责车上乘客扣上安全带呢？ </string>
		<string>第 23 题：当需要开车头灯时，驾驶者必要用低灯，当跟在别的车后面  </string>
		<string>第 24 题：当驶近“让牌”时，在法例上你应怎样做？ </string>
		<string>第 25 题：酒精在人体血液中占什么份量，使你成为危险驾驶者及有罪? </string>
		<string>第 26题：在十字路口，亮红灯并有绿色箭头表示： </string>
		<string>第 27 题：一定要报警的交通意外是当有人受伤或损失超过  </string>
		<string>第 28 题：在十字路口，转左及转右都准许时，绿色闪灯表示： </string>
		<string>第 29 题：如果交通灯转了，而行人仍然在过马路，以下谁有优先权 </string>
		<string>第 30 题：如果你被控醉酒行车，第一次会被罚停牌多久？</string>
		<string>第 31 题：在车上装有蓝色闪灯是表示：</string>
		<string>第 32题：如果你置身于交通意外，而当时有人受伤，你一定要： </string>
		<string>第 33 题：在离开城市，镇或乡村的高速公路同一方向行驶，除超越外，跟在商业汽车后面应保持什么距离？ </string>
		<string>第 34 题：持有驾驶执照而需要转姓名或地址，他需要在什么时间内通知交通部？</string>
		<string>第 35 题：如果你置身在一件交通意外，而一定要报警，在什么时间内，你要报告给最近你的省警察或当地警察?  </string>
		<string>第 36 题：当货车在高速公路上不能开动时，照明器或反光器一定要放在货车的前面或后面多远呢？  </string>
		<string>第 37 题：以下什么情形下“u”转是危险和不合法的：  </string>
		<string>第 38 题：驾驶者被停牌，而被控再次驾驶，他应受什么责罚？ </string>
		<string>第 39 题：当驶近火车路时，
看到有电动式的机械讯号或有人拿着旗号警告有火车来时，你应：  </string>
		<string>第 40 题：如果车主没有买汽车保险，他有什么保障？ </string>
		<string>第 41 题：在什么情形下，驾驶执照会被取消？ </string>
		<string>第 42 题：警察有权要求车主拿出什么文件： </string>
		<string>第 43 题：在什么情形下可将驾驶执照借给他人？</string>
		<string>第 44 题：当你驶近十字路口，正亮着红色交通灯，而警察打手势指挥你通过，你应： </string>
		<string>第 45 题：驾驶者犯上开快车，比限制时速超过五十公里（三十哩）或以上时，法庭会将怎样处罚呢？ </string>
		<string>第 46 题：当你接近十字路口时，发觉十字路口前面交通很挤迫，你应：</string>
		<string>第 47 题：一辆“校车”闪红灯停在中间没有栏杆或障碍物的高速公路中，无论你是迎面而来或从后面超越，法律要求你： </string>
		<string>第 48 题：驾驶人可能需要被接见问话或重考驾驶技术：</string>
		<string>第 49 题：当驾驶过失达到九点时，被接见问话后，交通部可能暂停驾驶人执照：  </string>
		<string>第 50 题：当驾驶人的过失记录达到十五点或以上时，执照将受暂停：</string>
		<string>第 51 题：当过失点达到十五分时，牌照要吊销三十天恢复驾驶后的分数，将会</string>
		<string>第 52 题：卖汽车给别人，卖车者应该： </string>
		<string>第 53 题：你应保持一种速度行车，无论在任何情况下，你也能：</string>
		<string>第 54 题：不能随时换线除非先： </string>
		<string>第 55 题：法律规定泊车距离救火喉多远才是合法的：</string>
		<string>第 56 题：大多数汽车滑胎的原因是：</string>
		<string>第 57 题：在什么时候可用泊车灯？</string>
		<string>第 58 题：在湿滑或结冰的路上快速停车的最好方法是：</string>
		<string>第 59 题：在大雾中行驶，你应用：  </string>
		<string>第 60 题：当你泊车在向下的斜坡在你离开车之前，你应：</string>
		<string>第 61 题：当你知道另一辆车准备驶过或超越时，你应： </string>
		<string>第 62 题：当你右边车胎驶入路边泥地，哪一个是最好的方法让车驶回路面： </string>
		<string>第 63 题：当你驾驶每小时50公里（30哩）应该和前面车辆最少保持多远才安全： </string>
		<string>第 64 题：除非有特别标志，在城镇、乡村或发展区以外的路，最高的驾驶速度是：  </string>
		<string>第 65 题：当你把车驶出路边停车位 前，你应：  </string>
		<string>第 66 题：当汽车驶下斜坡时，最安全的方法是： </string>
		<string>第 67题：夜间在快速公路行驶时，你必须用低灯，当你：</string>
		<string>第 68 题：在夜间以最高限制速度行驶比日间更危险，因为：</string>
		<string>第 69 题：以下哪一种手势讯号是表示慢驶或停车？ </string>
		<string>第 70 题：在夜间行驶，当你遇到迎面车辆车灯很强烈耀眼，使你看不清楚，最安全的方法是：</string>
		<string>第 71 题：当车辆停下来让行人过斑马线时，你应：  </string>
		<string>第 72 题：路的中间有虛线是代表：</string>
		<string>第 73 题：除非你打算扒过及超越另一辆车，或想转左，否则你应： </string>
		<string>第 74 题：当你决定“U转”与否之前，你首先应查看： </string>
		<string>第 75 题：路的中间，有一实线，有一虚线，而你靠近实线，实线的意思是：  </string>
		<string>第 76 题：由私家路驶入公路之前，驾驶者应：</string>
		<string>第 77 题：当驾驶时你其中一个车胎突然爆胎,你应:</string>
		<string>第 78 题：当电车停站让乘客上落,当时是一个安全岛, 在法律上你应怎样做：</string>
		<string>第 79 题：如果你驶近十字路口而交通灯坏了,你应：</string>
		<string>第 80 题：当校巴停下,上落乘客而你驶过会怎样：</string>
		<string>第 81 题：由定罪那天起,过失点停留在你驾驶记录多久：</string>
		<string>第 82 题：当你的汽车滑胎时,首先怎样应付：(例如车尾滑向右边)</string>
		<string>第 83 题：在驾驶时,如果你失控,车胎驶出路旁,你应：</string>
		<string>第 84 题：在初两年第一阶段(G1)及第二阶段(G2)驾驶者, 如你的过失点在九分或以上,你会停牌多久?</string>
		<string>第 85 题：407高速公路是：</string>
		<string>第 86 题：第一阶段(G1)及第二阶段(G2)驾驶者,在驾驶时体内酒精量是零,如果被捉,除刑事法外,还要停牌多久?：</string>
		<string>第 87 题：如果你在驾驶时手提电话响,你应怎样做：</string>
		<string>第 88 题：第一阶段(G1)驾驶者,你一定要有一个G牌或以上陪同驾驶, 他的驾驶经验在几年以上：</string>
		<string>第 89 题：如果你驾驶时因使用手提电话发生意外：</string>
		<string>第 90 题：如果你是第二阶段(G2)驾驶者,你要维持酒精含量在：</string>
		<string>第 91 题：雪胎什么时候用最好：</string>
		<string>第 92 题：在公路交通法规被停牌,而你是第一次被捉驾驶,刑罚是：</string>
		<string>第 93 题：警察有权截查可疑醉酒驾驶者,如你拒绝用酒精测试器,你的车牌会立刻被吊销到：
你的车牌会立刻被吊销到：</string>
		<string>第 94 题：在两年内第一阶段(G1)及第二阶段(G2)的驾驶者, 过失分在9分或以上时,在停牌60天后过失点减到：</string>
		<string>第 95 题：如果你的脚制失控：</string>
		<string>第 96 题：第一阶段(G1)的驾驶者,你一定不能喝酒驾驶, 而陪同的G牌陪同者酒精要少过：</string>
		<string>第 97 题：如果你是&quot;犯刑事法&quot;停牌,而被捉驾驶, 你的汽车会被扣压多久?</string>
		<string>第 98 题：如果有一辆车紧跟随你后面,你应怎样呢?：</string>
		<string>第 99 题： 如果你想超越一部摩托车,你应：</string>
		<string>第 100 题：为什么在换线时要查看盲点?</string>
		<string>第 101 题：你如果发生交通意外,在什么情况下一定要报警?</string>
		<string>第 102 题：果你是19歲或以下青年驾驶者,刚在6个月内考取G2牌照在深夜12时到早上5时,你可乘载多少乘客： </string>
		<string>第 103 题： 如果你是青年驾驶者,考取G2牌照超过6个月后,在没有考得G牌或未满20岁时,你可乘载多少乘客在深夜12时到早上5时：</string>
		<string>第 104 题：青年驾驶者有些例外,如果有一个__ 年G牌驾驶者坐在前排或其他青年乘客都是他直属人：</string>
		<string>第 105 题：在晚间驾驶,如车速快过你的车头灯所照到的是危险,因为： </string>
	</array>
	<key>Qanswers</key>
	<array>
		<string>慢驶，然后小心前进</string>
		<string>尽快驶向路的最右方停下   </string>
		<string>与最接近你的车辆相距150公尺（500呎）内  </string>
		<string>停车，当安全才前进  </string>
		<string>每小时50公里（30哩）</string>
		<string>停车，直至灯号转绿色，同时安全才前进  </string>
		<string>加速达到高速公路的速度，然后驶入公路交通中  </string>
		<string>人（乘客）</string>
		<string>尽量在最接近中线的右边行车路上  </string>
		<string>行人遵守灯号过马路  </string>
		<string>靠近路的左手边 </string>
		<string>在电车后门2公尺（6呎）之后停车，让乘客上落，直至安全才驶过   </string>
		<string>停车，直至安全才前进  </string>
		<string>停车，打灯号，当不阻碍别的车辆及行人才转弯 </string>
		<string>靠近路的右边</string>
		<string>停车，如果停车是危险的，前进要加倍小心  </string>
		<string>在任何情况下都不准驾驶 </string>
		<string>对</string>
		<string>从右方驶来的车辆  </string>
		<string>是准许的，当街道及公路有两条或以上同一方向的行车线  </string>
		<string>在日落前半小时，在日出后半小时及任何时间在150公尺（500呎）内看不清事物时  </string>
		<string>只是乘客在十六岁以下</string>
		<string>60公尺（200呎）内  </string>
		<string>慢下，如有需要时停下及让路于有优先权者先行 </string>
		<string>0.08%  </string>
		<string>小心向着箭头的方向转，让路于有优先权的车辆及行人 </string>
		<string>一千元  </string>
		<string>路上安全，你可转左/右/直驶</string>
		<string>行人</string>
		<string>一年</string>
		<string>铲雪的车辆  </string>
		<string>立即报告意外于最近的省警察或当地警察  </string>
		<string>60公尺（200呎）</string>
		<string>六天之内  </string>
		<string>立刻</string>
		<string>30公尺（100呎）</string>
		<string>在弯路或在斜坡，视力从两方向150公尺（500呎）内看不清楚时+在火车路上或火车路30公尺（100呎）之内  + 在桥、高架公路或隧道中150公尺（500呎）内，视力受阻碍时 </string>
		<string>罚款一干至伍千元或入狱六个月或两样都罚 + 将汽车扣留最少45天 再加多六个月不准驾驶的权利 </string>
		<string>停车在距离路轨最少5公尺（15呎） </string>
		<string>全无保险赔偿 </string>
		<string>没有去重考 + 持有改过的执照  + 重考而不合格  </string>
		<string>如汽车有买保险——保险纸  + 汽车车主证  + 如只是汽车驾驶者——有效驾驶执照  </string>
		<string>永远不可</string>
		<string>服从警察的指挥，立即通过</string>
		<string>停牌三十天  </string>
		<string>停在十字路口之前，等待前面交通畅通后才前进 </string>
		<string>停车，直至校车前进或红灯已不再闪</string>
		<string>当驾驶过失而被记下的分数达到九点  </string>
		<string>当驾驶人不能提出充分的理由反对停用执照原因</string>
		<string>自动停牌，从退回执照起停牌三十天  </string>
		<string>减到七分  </string>
		<string>在卖车后六日内通知交通部及改车主姓名  + 和买车者到换牌处登记更换新车主姓名  + 如汽车没有“安全合格证”应交还车牌及车证给换牌处，而用卖车者的名下取得“汽车未合格证”  </string>
		<string>在一个安全距离内停车 </string>
		<string>发出正确灯号及肯定安全才能转线  </string>
		<string>3公尺（10呎） </string>
		<string>驾驶速度太快 </string>
		<string>在泊车时用  </string>
		<string>在脚制上一踏一放的方法，直至车辆完全停下来 </string>
		<string>低灯  </string>
		<string>扭前胎向右，并拉紧手掣 </string>
		<string>驶向路的右边，让他超越 </string>
		<string>脚离开油门，让车辆慢下来时才驶回路面  </string>
		<string>三个车位的距离</string>
		<string>每小时80公里（50哩）</string>
		<string>看清楚交通情形，打灯号，当安全的时候才从路边驶出</string>
		<string>用低波行驶及利用机器帮助煞掣  </string>
		<string>遇到迎面有车来或跟在别的车辆后时  </string>
		<string>在夜间，你不能看得前面很远</string>
		<string>手臂伸出向下  </string>
		<string>把视线稍为望向路的右手边  </string>
		<string>不能超越任何車輛, 停下来让行人过马路   </string>
		<string>可以超越，当交通安全时</string>
		<string>时时靠路的右面行驶  </string>
		<string>当 时有没有不准&quot; U&quot; 转的路牌</string>
		<string>扒头或超越是不安全的  </string>
		<string>让所有驶近公路的车辆有优先权   </string>
		<string>集中注意在方向盘 + 脚离开油门使车速减慢 + 使汽车停下在路旁</string>
		<string>小心驶过</string>
		<string>处理像四面停牌一样</string>
		<string>扣六分及罚款高达一千元</string>
		<string>2年</string>
		<string>把方向盘转向滑车的方向   </string>
		<string>紧握方向盘 + 脚离开油门使车速放慢,避免重踏脚制 + 当车得到控制后驶回车路上</string>
		<string>60天</string>
		<string>是一条快速收费公路</string>
		<string>30天</string>
		<string>驾驶时是不能用手提电话的 </string>
		<string>4年</string>
		<string>你会被控诉,危险驾驶及扣六分</string>
		<string>0.00% </string>
		<string>在冬天使用</string>
		<string>罚款1000到5000元</string>
		<string>90天  </string>
		<string>4分</string>
		<string>在脚制上用一踏一放方法 + 逐渐地拉实手制 + 手按着手制的按钮上</string>
		<string>百分之0.05</string>
		<string>45天</string>
		<string>如果安全时,转去其他行车线 + 轻微地减慢与前面车辆增远距离 + 驶近路旁让紧跟随车超越</string>
		<string>方法像超越其他车辆</string>
		<string>无论怎样调校,你的镜子总有些盲点</string>
		<string>以上2及3都是对的  </string>
		<string>1个在19岁或以下的乘客</string>
		<string>3个在19岁或以下的乘客</string>
		<string>4年</string>
		<string>你看到时,想停也停不下来</string>
	</array>
	<key>Sanswers</key>
	<array>
		<string>任何时间都必须停车</string>
		<string>你一定让有优先权者先行</string>
		<string>你不能掉头（或U转）</string>
		<string>前面有安全島分叉路, 靠右行</string>
		<string>停牌在前</string>
		<string>你不能左传</string>
		<string>目的地指示牌 </string>
		<string>交通灯在前 </string>
		<string>我正在转左 </string>
		<string>右线终止 </string>
		<string>我正在慢驶或停车</string>
		<string>前面湿时很滑</string>
		<string>危险，急弯  </string>
		<string>弯曲路在前</string>
		<string>路面转窄  </string>
		<string>你接近一条火车路 </string>
		<string>慢行的车辆在前</string>
		<string>此牌警告公路修理工程在前</string>
		<string>靠安全岛的右面驶过</string>
		<string>此线只准右转 </string>
		<string>前面时速每小时最高可达五十公里</string>
		<string>不准停车牌 </string>
		<string>我正在右转 </string>
		<string>不准驶入</string>
		<string>学校区的路牌 </string>
		<string>凹凸路或不平坦的路 </string>
		<string>警告斜坡在前</string>
		<string>限制路牌   </string>
		<string>禁止路牌  </string>
		<string> 准许的路牌 </string>
		<string>前面的路转右然后转左</string>
		<string>分叉公路完或接合 </string>
		<string>红灯不可右转</string>
		<string>不准超越</string>
		<string>两边转左线 </string>
		<string>窄桥在前</string>
		<string>十字路口在前, 直路有优先權 </string>
		<string>前右边有货车出入口</string>
		<string>轮椅或残疾人停泊 </string>
		<string>新驾驶者</string>
		<string>与对路车分享道路</string>
		<string>这条线是保留给专线车辆, 如巴士 , 的士, 脚踏车及车上有三名乘客以上在制定时间, 日期专用 </string>
		<string>留心动物,鹿有时横过 </string>
		<string>不准站或停在这处</string>
		<string>如果你保持在右線行駛, 你一定要駛出此公路 </string>
		<string>十字路口安放紅灯照相机</string>
		<string>不可在十字路口上阻塞交通</string>
		<string>当学校巴士停牌伸出时亦闪著红灯, 你应停下及不准超越</string>
		<string>在公路上使用这线必须车上有两人或以上者</string>
		<string>前面可能有隐藏的校区, 特別小心慢驶, 留意小孩及留意闪红灯校巴</string>
		<string>不准停下开动汽车超过一分钟</string>
		<string>在学生上课时间内, 当闪著黄灯时, 汽车要跟路牌速度行驶</string>
		<string>在班马线30公尺内不准超越其他车辆</string>
	</array>
</dict>
</plist>
